generators/model/templates/list-key-value.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">

<xsd:element name="Settings" type="Settings"/>

<xsd:complexType name="Settings">
  <xsd:sequence>
    <xsd:element name="Setting" type="Setting"
                 maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="Setting">
  <xsd:sequence>
    <xsd:element name="key" type="xsd:string"/>
  </xsd:sequence>
  <xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>

</xsd:schema>